{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
my title
{% endblock %}

{% block body %}
    <a href="{% url 'feed:post' %}">Make A Post</a>
    {% for post in posts %}
        <a href="{% url 'feed:detail' post.id %}"><p>{{post.text}}</p></a>
        <hr>
        <!-- <img src='{{ post.image.url }}'> -->
        {% thumbnail post.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    {% endfor %}
{% endblock %}